*.py[co]
*.egg
*swp
*swo
*.csv
*.json
*.db
*.bak

*egg-info

.coverage
.idea

/.tox


# never commit this as it holds any server-specific settings like secret keys and passwords, etc.
config_secret.py
wikimetrics/static/public

