{% import 'forms/field_validation.html' as validation %}<form class="form-horizontal metric-configuration" method="POST" action="{{action}}" data-bind="submit: $root.validateMetricConfiguration">
    {% for f in form %}
    {% if f.name != 'csrf_token' %}
    <div class="control-group"
    {% if f.name in ['start_date', 'end_date', 'timeseries'] %}
         data-bind="css: {'disabled-field': $root.request().recurrent}"
    {% endif %}>
            {{ f.label(class="control-label") }}
            <div class="controls" title="{{f.description}}">
                {% if f.type == 'BooleanField' or f.type == 'BetterBooleanField' %}
                    {{ f(**{'data-bind':'checked: '+f.name}) }}
                {% elif f.type == 'DateField' %}
                    {{ f(**{'type':'date', 'data-bind':'value: '+f.name}) }}
                {% elif f.type == 'BetterDateTimeField' %}

                    {# The name and data-value attributes are needed so the
                        metric configurator binding can extract observables
                    #}
                    <div title="{{f.description}}" class="datetimepicker"
                         name="{{f.name}}"
                         data-value="{{f.data}}"
                         data-bind="datetimepicker: {
                             timezone: $root.timezone,
                             value: {{f.name}},
                             inputId: '{{f.name}}',
                             defaultDate: '{{f.data}}'
                         }">
                    </div>
                {% else %}
                    {{ f(**{'data-bind':'value: '+f.name}) }}
                    {% if f.name == 'namespaces' %}
                        {{ f.description }}
                    {% endif %}
                {% endif %}
                {% if f.type == 'CommaSeparatedIntegerListField' %}(comma separated){% endif %}
                {{ validation.messages(f) }}
            </div>
            {% if f.name == 'namespaces' %}
                <div class="controls">
                    <p>Refers to the division of pages by namespace in wiki projects.  More information:</p>
                    <ul>
                        <li><a target="_blank" href="http://www.mediawiki.org/wiki/Manual:Namespace">What is a namespace?</a></li>
                        <li><a target="_blank" href="http://www.mediawiki.org/wiki/Manual:Namespace_constants">Universal namespace codes</a></li>
                        <li>Examples:
                            <a target="_blank" href="https://de.wikipedia.org/wiki/Wikipedia:Namespace">dewiki</a>,
                            <a target="_blank" href="https://commons.wikimedia.org/wiki/Help:Namespaces">commons</a>,
                            <a target="_blank" href="https://en.wikipedia.org/wiki/Wikipedia:Namespace">enwiki</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ f }}
    {% endif %}
    {% endfor %}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Validate Configuration"/>
    </div>
</form>
