<form class="form-horizontal metric-configuration" method="POST" action="{{action}}" data-bind="submit: $root.saveMetricConfiguration">
    {% for f in form %}
    {% if f.name != 'csrf_token' %}
        <div class="control-group">
            {{ f.label(class="control-label") }}
            <div class="controls">
                {% if f.type == 'BooleanField' or f.type == 'BetterBooleanField' %}
                    {{ f(**{'data-bind':'checked: '+f.name}) }}
                {% elif f.type == 'DateField' %}
                    {{ f(**{'type':'date', 'data-bind':'value: '+f.name}) }}
                {% else %}
                    {{ f(placeholder=f.description, **{'data-bind':'value: '+f.name}) }}
                {% endif %}
                {% if f.errors %}
                    <ul class="unstyled error-list">
                        {% for e in f.errors %}
                        <li class="text-error">{{ e }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if f.name == 'namespaces' %}
                <div class="controls">
                    <p>refers to the division of pages by namespace in wiki projects, example:</p>
                    <ul>
                        <li><a target="_blank" href="http://de.wikipedia.org/wiki/Wikipedia:Namespace">German Wikipedia Namespaces</a></li>
                        <li><a target="_blank" href="http://commons.wikimedia.org/wiki/Help:Namespaces">Wikimedia Commons Namespaces</a></li>
                        <li><a target="_blank" href="http://en.wikipedia.org/wiki/Wikipedia:Namespace">English Wikipedia Namespaces</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ f }}
    {% endif %}
    {% endfor %}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Validate Configuration"/>
    </div>
</form>
