{% import 'forms/field_validation.html' as validation %}

<form enctype="multipart/form-data"
      action="{{url_for('program_metrics_reports_request')}}"
      method="POST"
      class="upload-cohort form-horizontal">

    {{ form.csrf_token }}

    <div class="navbar-inner">
        <h3>Launch a Program Global Metrics report</h3>
    </div>
    <!-- These fields are hidden since the user doesn't have to provide values for them -->
    <input id="name" name="name" type="hidden" value="{{form.name.data}}"/>
    <input id="centralauth" name="centralauth" type="hidden" checked value="{{form.centralauth.data}}"/>
    <input id="project" name="project" type="hidden" value="{{form.project.data or ''}}"/>
    <input id="validate_as_user_ids" name="validate_as_user_ids" type="hidden" value="{{form.validate_as_user_ids.data}}"/>

    <div class="control-group">
        <label for="paste_ids_or_names" class="control-label" title="See below for format information"><strong>Paste User Names</strong></label>
        <div class="controls">
            <textarea name="paste_ids_or_names" id="paste_ids_or_names"
                      rows="4"
                      cols="50">{{form.paste_ids_or_names.data or ''}}</textarea>
            {{ validation.messages(form.paste_ids_or_names) }}
            <span class="textarea-label">
            The usernames should be separated, one per line.  Names that include commas should be in double quotes.  See the example:
            </span>
            <img src="{{ url_for('static', filename='img/pasteUsers.png') }}"/>
        </div>
    </div>

    <div class="control-group">
        <label for="timezone" class="control-label">Timezone</label>
        <div class="controls">
            <select name="timezone" id="timezone"
                    data-bind="
                        options: availableTimezones,
                        optionsText: 'name',
                        value: timezone"></select>
            &nbsp;&nbsp;
            To find your timezone and UTC offset, go
            <a href="https://en.wikipedia.org/wiki/List_of_UTC_time_offsets" target="_blank">here</a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="start_date">Event Start Date</label>
        <div class="controls">
            <div data-bind="datetimepicker: {
                                timezone: timezone,
                                value: ko.observable('{{form.start_date.data}}'),
                                inputId: 'start_date'
                            }">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="end_date">Event End Date</label>
        <div class="controls">
            <div data-bind="datetimepicker: {
                                timezone: timezone,
                                value: ko.observable('{{form.end_date.data}}'),
                                inputId: 'end_date'
                            }">
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Launch Program Global Metrics Report"/>
    </div>
</form>
