{% extends "layout.html" %}
{% block body %}
<h2>Log In</h2>
<p>To use Wikimetrics, you must log in with one of the following services:</p>

<div class="auth-options">
    <a  title="log in with your Meta Wikimedia account"
        href="{{ url_for('login_meta_mw') }}"
        class="openid-logo meta_mw">
    </a>
    <a  title="log in with Google"
        href="{{ url_for('login_google') }}"
        class="openid-logo google">
    </a>
</div>

<p>What does it mean to log in with a service above?  The method we use is called <a href="https://en.wikipedia.org/wiki/OAuth">OAuth</a>.  In plain words, it allows a provider to vouch that you are who you say you are.  For example, if you click on "log in with Google" above, Google will ask you if you will allow the Wikimetrics application access to your private Google data.  For our purpose, we will only access your email address and name to verify your identity.  We will not share any of your data with Google or anyone else.  Since Wikimetrics is an open source project, you can see exactly how we interact with Google and the other providers.  As of this writing, that logic <a href="https://github.com/wikimedia/analytics-wikimetrics/blob/master/wikimetrics/controllers/authentication.py">lives here</a>.</p>
{% endblock %}
