{% extends "layout.html" %}
{% block body %}

<h2>Cohorts</h2>

<div>
    <a class="btn btn-primary btn-large" href="{{url_for('cohort_upload')}}">Create New</a>
    &nbsp;
    &nbsp;
    <input type="text" class="search-query" placeholder="find below"/>
</div>
<hr/>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs" data-bind="foreach: cohorts">
        <li data-bind="css: {active: $index == 0}">
        <a data-bind="text: name, attr: {href: '#' + id}, click: $root.view"
           data-toggle="tab"></a>
        </li>
    </ul>
    <div class="tab-content" data-bind="foreach: cohorts">
        <div class="tab-pane" data-bind="attr: {id: id}, css: {active: $index === 0}">
            <div class="hero-unit">
                <h5 data-bind="text: name"></h5>
                <p data-bind="text: description"></p>
            </div>
            <table class="table table-striped">
                <tbody data-bind="foreach: wikiusers">
                    <tr>
                        <td data-bind="text: project"></td>
                        <td data-bind="text: mediawiki_username"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <a href="#" data-bind="click: $root.viewFull">load all ...</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/cohortList.js') }}"></script>
{% endblock %}
