{% extends "layout.html" %}
{% block body %}

{% if invalid %}
<h4>In-Valid Users</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Project</th>
            <th>Reason Invalid</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: invalid">
        <tr>
            <td><a data-bind="text: username, attr: {href: link}" target="_blank"></a></td>
            <td data-bind="text: project"></td>
            <td data-bind="text: reason_invalid"></td>
        </tr>
    </tbody>
</table>

<h5>Try uploading again after fixing the issues</h5>
{% include "csv_upload_form.html" %}
{% endif %}

<hr/>

{% if valid %}
<h4>Valid Users</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: valid">
        <tr>
            <td><a data-bind="text: username, attr: {href: link}" target="_blank"></a></td>
            <td data-bind="text: project"></td>
        </tr>
    </tbody>
</table>

<form action="{{url_for('cohort_upload_finish')}}" method="POST" class="form-horizontal finish-upload">
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% if invalid %}Upload Only These Valid Users{% else %}Finish Upload{% endif %}"/>
    </div>
</form>
{% endif %}
{% endblock %}


{% block scripts %}
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<script src="{{ url_for('static', filename='js/cohortUpload.js') }}"></script>
<script>
    // TODO: get this nasty stuff out of here
    var from_the_server = {
        invalid : JSON.parse('{{ invalid_json | safe }}'),
        valid   : JSON.parse('{{ valid_json | safe }}'),
        name    : '{{ name }}',
        project : '{{ project }}',
    };
</script>
<script src="{{ url_for('static', filename='js/cohortReview.js') }}"></script>
{% endblock %}
