<form enctype="multipart/form-data" action="{{url_for('cohort_upload')}}" method="POST" class="upload-cohort form-horizontal">
    <div class="navbar-inner">
        <h3>Create a Cohort by Uploading a CSV</h3>
    </div>
    <div class="control-group">
        <label for="name" class="control-label">Name</label>
        <div class="controls">
            <input type="text" name="name" class="required" id="name" value="{% if name %}{{name}}{% endif %}"/>
            <label for="name">(automatically checks availability)</label>
        </div>
    </div>
    <div class="control-group">
        <label for="description" class="control-label">Description</label>
        <div class="controls">
            <textarea rows="4" cols="50" name="description" id="description">{% if description %}{{description}}{% endif %}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label for="project" class="control-label">Default Project</label>
        <div class="controls">
            <input type="text" name="project" id="project"
                   value="{% if project %}{{project}}{% endif %}"
                   data-provide="typeahead"
                   data-source='{{projects}}'
                   autocomplete="off"
            />
        </div>
    </div>
    <div class="control-group">
        <label for="csv" class="control-label">CSV File</label>
        <div class="controls">
            <input type="file" name="csv" id="csv"/>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Upload CSV"/>
    </div>
</form>
