<form enctype="multipart/form-data" action="/uploads/cohort" method="POST" class="upload-cohort form-horizontal">
    <div class="control-group">
        <label for="name" class="control-label">Cohort Name</label>
        <div class="controls">
            <input type="text" name="name" id="name" value="{% if name %}{{name}}{% endif %}"/>
            <label for="name">(automatically checks availability)</label>
        </div>
    </div>
    <div class="control-group"> <label for="project" class="control-label">Wiki Project</label>
        <label for="project" class="control-label">Default Cohort Project</label>
        <div class="controls">
            <input type="text" name="project" id="project" value="{% project %}{{project}}{% endif %}"/>
        </div>
    </div>
    <div class="control-group">
        <label for="csv" class="control-label">CSV File</label>
        <div class="controls">
            <input type="file" name="csv" id="csv"/>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Upload CSV"/>
    </div>
</form>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
