{% extends "layout.html" %}
{% block body %}
{% include "csv_upload_form.html" %}
<div>
    <h6>File Format</h6>
    <p>User Metrics expects a CSV file with the following format (the username, project header row is not required)</p>
    <pre><code>username,project
Evan (WMF),en</code></pre>
    <ul>
        <li><strong>username</strong>: straightforward utf-8 encoded name or a user id.</li>
        <li><strong>project</strong>: the langauge or project code on which that username exists.</li>
        <!--li><strong>reference date</strong>: a user-specific date which can be used as a reference point to compute certain metrics over relative time periods (i.e. the first month after signing up).  Also, <code>userstats</code> uses <code>datutil.parser</code> to interpret date strings, so you have a little flexibility in the exact date format you use.</li>
        <li><strong>cohort id</strong>: an arbitrary string identifier which will be used to group users with the same identifier into a cohort, on which you can then aggregate statistics and compare.</li-->
    </ul>
</div>
{% endblock %}
