{% extends "layout.html" %}
{% block body %}
{% include "forms/csv_upload.html" %}
<div>
    <h6>Format</h6>
    <p>Wikimetrics expects either a file or pasted text in comma separated format, as shown below. Project is the langauge or project code in which that username or userid exists.  Project is optional and will default to the cohort's default project.
    <pre>user_name,project</pre>
    <pre>user_id,project</pre>
    </p>
    
    <br/>
    <h6>For Example</h6>
    Specify EITHER user names:
    <pre>Evan (WMF),en
Milimetric,en
Without project is ok too
User Names can even contain commas, but these need a project at the end,en</pre>
    OR User Ids:
    <pre>123,en
234,en
456</pre>
</div>
{% endblock %}

{% block scripts %}
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="{{ url_for('static', filename='js/cohortUpload.js') }}"></script>
{% endblock %}
