<form class="form-horizontal {{form_class}}" method="POST" action="{{action}}">
    {{ form.hidden_tag() }}
    {% for f in form if f.label.text != 'Csrf Token' %}
        <div class="control-group">
            {{ f.label(class="control-label") }}
            <div class="controls">
                {{ f(placeholder=f.description) }}
                {% if f.errors %}
                    <ul class="unstyled error-list">
                        {% for e in f.errors %}
                        <li class="text-error">{{ e }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{submit_text}}"/>
    </div>
</form>
