<form class="{{form_class}}" method="POST" action="{{action}}">
    {{ form.hidden_tag() }}
    {% for f in form if f.label.text != 'Csrf Token' %}
        <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
                <ul>
                    {% for e in f.errors %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit" />{{submit_text}}</button>
</form>
