{% extends "layout.html" %}
{% block body %}

<div class="hero-unit">
    <h1>Wikimetrics</h1>
    <p class="margin-top:2em">
        Welcome to the Wikimedia Foundation's Wikimetrics homepage.
        This API allows you to
    </p>
    <ul class="unstyled">
        <li>select a set of users, also known as a "cohort" <span class="muted">(for example, <strong>all users who signed up via the Thank You campaign</strong>)</span></li>
        <li>select a metric to be computed for each of these users <span class="muted">(for example, how many <a href="{{ url_for('metrics_index') + '#BytesAdded'}}">bytes they've added</a>)</span> with optional parameters <span class="muted"> (for example, a <strong>time range</strong>)</span></li>
        <li>and retrieve the response in JSON or CSV format.</li>
    </ul>
    <p>
        You can also compute a single, aggregate value for the cohort
        <span class="muted">
            (like the <strong>mean</strong> revert rate)
        </span>
        .
    </p>
    <p class="margin-top:1em">
        <a class="btn btn-large" href="{{url_for('home_about')}}">Learn More</a>
        <a class="btn btn-primary btn-large" href="{{url_for('reports_request')}}">Analyze</a>
    </p>
</div>

<div class="row-fluid">
    {% if current_user.is_authenticated() %}
    <div class="span4">
        <h4>Your <a href="{{url_for('cohorts_index')}}">cohorts</a></h4>
        <ul data-bind="foreach: cohorts">
            <li>
                <span data-bind="text: name"></span>
            </li>
        </ul>
    </div>
    <div class="span4">
        <h4>List of <a href="{{url_for('metrics_index')}}">metrics</a></h4>
        <ul data-bind="foreach: metrics">
            <li>
                <span data-bind="text: label"></span>
            </li>
        </ul>
    </div>
    <div class="span4">
        <h4>Your <a href="{{url_for('reports_index')}}">reports</a></h4>
        <ul data-bind="foreach: reports">
            <li>
                <strong data-bind="text: moment(created).calendar()"></strong> - 
                <span data-bind="text: name"></span>
            </li>
        </ul>
    </div>
    {% else %}
    <div>
        <h4><a href="{{url_for('login')}}">Login</a> to see your cohorts, metrics, and reports</h4>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
