{% extends "layout.html" %}
{% block body %}

<h2>Current Job queue</h2>
<a href="{{url_for('jobs_request')}}" class="btn btn-primary btn-large">
    Create New Job
</a>
<table class="table table-striped">
    <caption>
        (Refreshes automatically every 2 seconds)        
    </caption>
    <thead>
        <tr>
            <th>Created</th>
            <th>Status</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: jobs_sorted">
        <tr>
            <td data-bind="text: moment.unix(created).format('YYYY-MM-DD HH:mm')"></td>
            <td data-bind="text: status"></td>
            <td data-bind="text: name"></td>
            <td>...</td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jobList.js') }}"></script>
{% endblock %}
