<!doctype html>
<html lang="en">
<head>
<title>Wikimetrics</title>
<!-- TODO: set long expire header for favicon in Apache -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Wikimetrics</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{ url_for('cohorts_index') }}">Cohorts</a></li>
                        <li><a href="{{ url_for('metrics_index') }}">Metrics</a></li>
                        <li><a href="{{ url_for('reports_index') }}">Reports</a></li>
                        <li><a href="{{ url_for('support_index') }}">Support</a></li>
                        <!--<li><a href="#">About</a></li>-->
                        <!--<li><a href="#">Contact</a></li>-->
                        <li class="pull-right">
                            {% if current_user.is_authenticated() %}
                            <em>Welcome {{ current_user.username or current_user.email }}</em> <a href="/logout">(logout)</a>
                            {% else %}
                            <a href="/login">(login)</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-messages-container">
        <ul class="unstyled site-messages">
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <li class="alert alert-{{category}}">
                <button class="close" data-dismiss="alert">&times;</button>
                <strong>{{ category }}!</strong> {{ message }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <section class="container">
        {% block body %}{% endblock %}
    </section>
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-2.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout.util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    {% block scripts %}{% endblock %}
    
    <script type="text/html" class="messageTemplate">
        <li class="alert alert-##category##">
            <button class="close" data-dismiss="alert">&times;</button>
            <strong>##category####punctuation##</strong> ##message##
        </li>
    </script>
</div>
</body>
</html>
