{% extends "layout.html" %}
{% block body %}
<h2>Create Analysis Report</h2>
<div class="well pick-cohorts">
    <div class="navbar-inner">
        <h3 class="pull-left">Pick Cohorts</h3>
        <div class="navbar-search pull-right">
            <a href="{{url_for('cohort_upload')}}">upload a new cohort</a>
            &nbsp;&nbsp;
            <input type="text" class="search-query" placeholder="type and press enter to filter" data-bind="value: filter"/>
        </div>
    </div>
    <div class="cohorts">
        <ul class="unstyled" data-bind="foreach: filteredCohorts">
            <li>
                <label>
                    <input type="checkbox" data-bind="checked: selected, click: $root.toggleCohort"/>
                    <span data-bind="text: name, attr: {title: description}"></span>
                </label>
            </li>
        </ul>
    </div>
</div>
<div class="well pick-metrics">
    <div class="navbar-inner">
        <h3>Pick Metrics</h3>
    </div>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" data-bind="foreach: metrics">
            <li>
                <a data-bind="attr: {href: tabIdSelector}, text: label" data-toggle="tab">
                </a>
            </li>
        </ul>
        <div class="tab-content" data-bind="foreach: metrics">
            <div class="tab-pane" data-bind="attr: {id: tabId}">
                <label>
                    <input type="checkbox" data-bind="checked: selected, click: $root.toggleMetric"/>
                    <span data-bind="text: description">
                    </span>
                </label>
                <div class="configure-metric-form" data-bind="metricConfigurationForm: configure, attr: {id: tabId() + '-configure'}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="well pick-metrics">
    <div class="navbar-inner">
        <h3>Configure Output</h3>
    </div>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" data-bind="foreach: request().metrics">
            <li>
                <a data-bind="attr: {href: tabIdSelector() + '-a'}, text: label" data-toggle="tab">
                </a>
            </li>
        </ul>
        <div class="tab-content" data-bind="foreach: request().metrics">
            <div class="tab-pane form-horizontal" data-bind="attr: {id: tabId() + '-a'}">
                <div class="control-group">
                    <label class="control-label" data-bind="attr: {for: tabId() + '-a-ind'}">Individual Results</label>
                    <div class="controls">
                        <input type="checkbox" data-bind="checked: individualResults, attr: {id: tabId() + '-a-ind'}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" data-bind="attr: {for: tabId() + '-a-agg'}">Aggregate Results</label>
                    <div class="controls">
                        <input type="checkbox" data-bind="checked: aggregateResults, attr: {id: tabId() + '-a-agg'}"/>
                        
                        <div data-bind="if: aggregateResults">
                            <div class="control-group">
                                <label class="control-label" data-bind="attr: {for: tabId() + '-a-sum'}">Sum</label>
                                <div class="controls">
                                    <input type="checkbox" data-bind="checked: aggregateSum, attr: {id: tabId() + '-a-sum'}"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" data-bind="attr: {for: tabId() + '-a-avg'}">Average</label>
                                <div class="controls">
                                    <input type="checkbox" data-bind="checked: aggregateAverage, attr: {id: tabId() + '-a-avg'}"/>
                                </div>
                            </div>
                            <!--<div class="control-group">-->
                                <!--<label class="control-label" data-bind="attr: {for: tabId() + '-a-std'}">Standard Deviation</label>-->
                                <!--<div class="controls">-->
                                    <!--<input type="checkbox" data-bind="checked: aggregateStandardDeviation, attr: {id: tabId() + '-a-std'}"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="well sample-result">
    <div class="navbar-inner">
        <h3>Sample Result</h3>
    </div>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" data-bind="foreach: request().responses">
            <li>
                <a data-bind="attr: {href: tabIdSelector}, text: name"></a>
            </li>
        </ul>
        <div class="tab-content" data-bind="foreach: request().responses">
            <div class="tab-pane" data-bind="attr: {id: tabId}">
                <table class="table table-striped sample-results">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th data-bind="text: metric.label"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="if: metric.individualResults">
                        <!-- ko foreach: cohort.wikiusers -->
                        <tr>
                            <td data-bind="text: mediawiki_username"></td>
                            <td data-bind="text: project"></td>
                            <td class="blur-completely">123.45</td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                    <tbody class="totals" data-bind="if: metric.aggregateResults">
                        <tr data-bind="if: metric.aggregateSum">
                            <td colspan="2">Sum</td>
                            <td class="blur-completely">123.45</td>
                        </tr>
                        <tr data-bind="if: metric.aggregateAverage">
                            <td colspan="2">Average</td>
                            <td class="blur-completely">123.45</td>
                        </tr>
                        <tr data-bind="if: metric.aggregateStandardDeviation">
                            <td colspan="2">Standard Deviation</td>
                            <td class="blur-completely">123.45</td>
                        </tr>
                    </tbody>
                    <tbody data-bind="if: !metric.outputConfigured()">
                        <tr>
                            <td colspan="3">You should select some type of output for this metric.  Check the section above</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <form class="report-request pull-right" action="/reports/create/" data-bind="submit: save">
        <input class="btn btn-primary save" type="submit" value="Run Report"/>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/reportCreate.js') }}"></script>
{% endblock %}
