{% extends "layout.html" %}
{% block body %}

<h2>Current Report queue</h2>
<a href="{{url_for('reports_request')}}" class="btn btn-primary btn-large">
    Create New Report
</a>
<table class="table table-striped">
    <caption>This table refreshes automatically every 10 seconds.  Reports will expire after 30 days, please save the output if you would like to keep it longer.</caption>
    <thead>
        <tr>
            <th>Created</th>
            <th>Status</th>
            <th>Name</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: reports_sorted">
        <tr>
            <td>
                <span data-bind="text: moment.unix(created).calendar()"></span>
            </td>
            <td data-bind="text: status"></td>
            <td data-bind="text: name, attr:{ title: parameters }"></td>
            <td data-bind="if: status === 'SUCCESS'">
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Get Data
                        &nbsp;&nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" data-bind="attr: {href: '/reports/result/' + result_key + '.json'}">as JSON</a></li>
                        <li><a target="_blank" data-bind="attr: {href: '/reports/result/' + result_key + '.csv'}">as CSV</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/reportList.js') }}"></script>
{% endblock %}
