{% extends "layout.html" %}
{% block body %}
<h3>Current Report Inbox</h3>
<p>This table refreshes automatically every <span data-bind="text: site.refreshEvery"></span> seconds.  Reports <b>that are not recurrent </b> will expire after 30 days, please save the output if you would like to keep it longer.</p>
<p class="pull-right">
    <a href="{{url_for('reports_request')}}" class="btn btn-xs btn-primary">
        Create New Report
    </a>
</p>

<!--<div class="btn-toolbar">-->
    <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-xs" data-bind="click: deleteClickedReports" title="delete the selected reports">Delete Report</button>-->
    <!--</div>-->
<!--</div>-->

<table class="table table-striped">
    <tbody data-bind="foreach: reports_sorted">
        <tr>
            <!--<td data-bind="if: success">-->
                <!--<input type="checkbox" data-bind="checked: selected" class="js-report-delete"/>-->
            <!--</td>-->
            <td data-bind="if: success">
                <div data-bind="ifnot: recurrent">
                    <button type="submit" data-bind="click: $root.updatePublic, css:{
                        'btn-warning': public,
                        'btn-success': !public()}"
                        class="btn">
                        <div class="icon" data-bind="css: {
                            'unlocked': public,
                            'locked': !public()},
                            attr:{ 'title': 'This report is ' + (public() ? '':'not ') + 'public.  Click to toggle.' }"
                            data-toggle="tooltip"></div>
                    </button>
                </div>
                <div data-bind="if: recurrent">
                    <div class="icon unlocked align-with-btn" title="This report is public and recurrent.  It can not be made private." data-toggle="tooltip"></div>
                </div>
            </td>
            
            <td data-bind="if: recurrent">
                <div class="icon recurrent align-with-btn" data-toggle="tooltip" title="This report executes on a schedule."></div>
            </td>
            <td>
                <div data-bind="if: public">
                    <a target="_blank" data-bind="attr:{ href: publicResult }">
                        <span data-bind="text: name, attr:{ title: parameters }"></span>
                    </a>
                </div>
                <div data-bind="ifnot: public">
                    <span data-bind="text: name, attr:{ title: parameters }"> </span>
                </div>
            </td>
            <td>
                <span data-bind="text: moment(created).utc().calendar()"></span>
            </td>
            <td>
                <span data-bind="text: status, css: {
                    'text-success': success,
                    'text-info': !success
                }, attr: {'title': error_message}"></span>
            </td>
            <td>
                <!-- ko if: success -->
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn-small btn-medium-width" data-toggle="dropdown">
                        Get Data
                        &nbsp;&nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!-- ko ifnot: recurrent -->
                        <li><a target="_blank" data-bind="attr:{ href: '/reports/result/' + result_key + '.json' }">as JSON</a></li>
                        <li><a target="_blank" data-bind="attr:{ href: '/reports/result/' + result_key + '.csv' }">as CSV</a></li>
                        <!-- /ko -->
                        <!-- ko if: public -->
                        <li><a target="_blank" data-bind="attr:{ href: publicResult }">as Public Link</a></li>
                        <!-- /ko -->
                    </ul>
                </div>
                <!-- /ko -->
                <!-- ko if: failure -->
                <div class="btn-group">
                    <button type="submit"
                            data-bind="click: $root.rerun, attr: { title: $root.rerunMessage }"
                            class="btn btn-small btn-warning btn-medium-width">
                        Rerun
                    </button>
                </div>
                <!-- /ko -->
            </td>
        </tr>
    </tbody>
</table>
<div data-bind="if: reports_sorted().length >4">
    <!-- with more than 4 reports the "create report button" also appears below -->
<p class="pull-right">
    <a href="{{url_for('reports_request')}}" class="btn btn-xs btn-primary">
        Create New Report
    </a>
</p>
</div>
<p class="muted credit">
    Entypo icons by <a href="http://www.danielbruce.se">Daniel Bruce</a>
</p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/reportList.js') }}"></script>
{% endblock %}
