{% extends "layout.html" %}
{% block body %}
<h2>Create a Job</h2>
<div class="well pick-cohorts">
    <div class="navbar-inner">
        <h3 class="pull-left">Pick Cohorts</h3>
        <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="find"/>
        </form>
    </div>
    <div class="cohorts">
        <ul class="unstyled" data-bind="foreach: cohorts">
            <li>
                <label>
                    <input type="checkbox" data-bind="checked: selected, click: $root.toggleCohort"/>
                    <span data-bind="text: name, attr: {title: description}"></span>
                </label>
            </li>
        </ul>
    </div>
</div>
<div class="well pick-metrics">
    <div class="navbar-inner">
        <h3>Pick Metrics</h3>
    </div>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" data-bind="foreach: metrics">
            <li>
                <a data-bind="attr: {href: tabIdSelector}, text: name" data-toggle="tab">
                </a>
            </li>
        </ul>
        <div class="tab-content" data-bind="foreach: metrics">
            <div class="tab-pane" data-bind="attr: {id: tabId}">
                <label data-bind="click: $root.toggleMetric">
                    <input type="checkbox" data-bind="checked: selected"/>
                    <span data-bind="text: 'compute ' + name, attr: {title: description}">
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="well sample-result">
    <div class="navbar-inner">
        <h3>Sample Result</h3>
    </div>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" data-bind="foreach: request().responses">
            <li>
                <a data-bind="attr: {href: tabIdSelector}, text: name"></a>
            </li>
        </ul>
        <div class="tab-content" data-bind="foreach: request().responses">
            <div class="tab-pane" data-bind="attr: {id: tabId}">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Id</th>
                            <th>Project</th>
                            <th data-bind="text: metric.name"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: cohort.wikiusers">
                        <tr>
                            <td data-bind="text: mediawiki_username"></td>
                            <td data-bind="text: mediawiki_userid"></td>
                            <td data-bind="text: project"></td>
                            <td class="blur-completely">123.45</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <input class="btn btn-primary save pull-right" type="submit" value="Run Job"/>
</div>
{% endblock %}

{% block scripts %}
<script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<script src="{{ url_for('static', filename='js/jobCreate.js') }}"></script>
{% endblock %}
