{% extends "layout.html" %}
{% block body %}
<div class="hero-unit">
  <h2>Support</h2>
  <ul>
    <li>
      <strong>FAQ</strong>
      <p>Visit the <a href="https://www.mediawiki.org/wiki/Wikimetrics">Landing page for Wikimetrics support, including Frequently Asked Questions</a>.</p>
    </li>
    <li>
      <strong>Mailing list</strong>
      <p>Subscribe to the <a href="https://lists.wikimedia.org/mailman/listinfo/wikimetrics">Analytics mailing list</a>.</p>
    </li>
    <li>
      <strong>Learn More</strong>
      <p>Read the training wiki <a href="https://meta.wikimedia.org/wiki/Meta:Training/Wiki_Metrics">Wikimetrics Training</a>.</p>
    </li>
    <li>
      <strong>Submit a Bug Report</strong>
      <p>If you discover a bug, please file a <a href="https://bugzilla.wikimedia.org/enter_bug.cgi?product=Analytics">bug report in bugzilla</a>.</p>
    </li>
  </ul>
</div>
{% endblock %}
