body { padding-top: 60px; padding-bottom: 60px; }
.navbar-fixed-top .nav { width: 80%; }
.navbar-fixed-top .nav li:last-child { color: #cacaca; float: right !important; }
.navbar-fixed-top .nav li:last-child a { color: #0088cc; display: inline-block; }
label.error { color: #af3333; }
div.flash { margin: 4px 0 20px 0; }


a.openid-logo {
    display: inline-block;
    background-color: #fff;
    background-image: url(//cdn.sstatic.net/Img/openid/openid-logos.png?v=8);
}
a.openid-logo.google {
    background-posiiton: -1px -1px;
    width: 103px;
    height: 63px;
}
a.openid-logo.twitter {
    background-image: url(//dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png);
    width: 158px;
    height: 28px;
}


/* creating a new job */
td.blur-completely { text-shadow: 0 0 20px rgba(0,0,0,0.6); color: transparent; }
.pick-cohorts .navbar-search { margin: 16px 0 0 0; }
.pick-cohorts .cohorts { margin: 14px 0 0 14px; max-height: 160px; overflow-x: hide; overflow-y: auto; }
.pick-metrics, .sample-result { background-color: #fff; }
.pick-metrics .tabbable, .sample-result .tabbable { margin: 22px 0 0 0; }
