body { padding-top: 60px; padding-bottom: 60px; }
table caption { padding: 16px; }
.navbar-fixed-top .nav { width: 80%; }
.navbar-fixed-top .nav li:last-child { color: #cacaca; float: right !important; }
.navbar-fixed-top .nav li:last-child a { color: #0088cc; display: inline-block; }
label.error { color: #af3333; }
div.flash { margin: 4px 0 20px 0; }


/* messages stuff */
div.site-messages-container { padding: 0 20px; }
div.site-messages-container li.alert strong { text-transform: capitalize; margin: 0 10px 0 0; }


/* login stuff */
div.auth-options {
}
a.openid-logo {
    display: inline-block;
    background-color: #fff;
    margin: 5px 20px 5px 10px;
}
a.openid-logo.meta_mw {
    background-image: url(//upload.wikimedia.org/wikipedia/meta/b/bc/Wiki.png);
    width: 135px;
    height: 135px;
}
a.openid-logo.google {
    background-image: url(//cdn.sstatic.net/Img/openid/openid-logos.png?v=8);
    width: 103px;
    height: 63px;
}
/*
a.openid-logo.twitter {
    background-image: url(//dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png);
    width: 158px;
    height: 28px;
}
*/


/* creating a new report */
div.pick-cohorts .navbar-search { margin: 16px 0 0 0; }
div.pick-cohorts .cohorts { margin: 14px 0 0 14px; max-height: 160px; overflow-x: hidden; overflow-y: auto; }
div.pick-metrics, .sample-result { background-color: #fff; }
div.pick-metrics .tabbable, .sample-result .tabbable { margin: 22px 0 0 0; }
td.blur-completely { text-shadow: 0 0 20px rgba(0,0,0,0.6); color: transparent; }

table.sample-results tbody.totals { border-top: 3px solid #000000; }
table.sample-results tbody.totals td {
    background-color: white !important;
    font-weight: bold;
}


/* uploading a cohort */
form.upload-cohort div.navbar-inner { margin: 0 0 20px 0; }

/** icons from sprite **/

.icon{
        background:  url(/static/img/sprite-icons.png); no-repeat;
}

.unlocked{
        background-position: -22px 0;
        width: 18px;
        height: 19px;
}

.recurrent{
        background-position: 0 -24px ;
        width: 20px;
        height: 17px;
}

.locked{
        background-position: -2px 0;
        width: 18px;
        height: 19px;
}

.check{
        background-position: -25px -23px ;
        width: 18px;
        height: 16px;
}

